<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Registro de usuario</title>
</head>
<body>



    <div class="container">
        <form action="/añadir" method="POST">
            <h1>Formulario de Registro</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <p class="form-text">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}


            <div class="input-group">
                <label for="nombre" class="form-text">Nombre Completo:</label>
                <input type="text" id="nombre" name="fullname" placeholder="Ingrese su nombre completo" required><br><br>
        
                <label for="telefono" class="form-text">Teléfono:</label>
                <input type="tel" id="telefono" name="phone" placeholder="Ingrese su numero de telefono" pattern="[0-9]{10}" required><br><br>
        
                <label for="email" class="form-text">Correo Electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Ingrese su email" required><br><br>
        
                <button type="submit" class="btn">Enviar</button>
            </div>
        </form>

        <!-- Creamos la tabla que va a contener los registros de la base de datos -->
        <table>
            <thead>
                <tr>
                    <td>Nombre completo</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                <!-- Acá llamamos los registros de la tabla que tenemos y que habíamos traído desde python -->
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.1}}</td>
                        <td>{{ contact.2}}</td>
                        <td>{{ contact.3}}</td>
                        <td>
                            <a href="/editar/{{contact.0}}" class="editar">Editar</a>
                            <a href="/eliminar/{{contact.0}}" class="eliminar"> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

